* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: auto;
  width: 100%;
  background: #f1dbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  width: 90%;
  background: #fff;
  margin: 1rem 0;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
}

.user__data {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 2rem;
  
}

h2 {
  font-weight: bold;
}

span {
  font-weight: 500;
}

.btn {
  height: 2rem;
  width: 8rem;
  background: #fc0404;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.btn:active {
  background: #cc2c34;
}

.accordion__container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  line-height: rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.accordion__contact__details {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__selected {
  background-color: #fc0404;
  color: #fff;
}

.pagination > span {
  height: 2rem;
  width: 2rem;
  font-size: 1.4rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ========= MEDIA QUERIES (SMALL DEVICES) ======== */

@media screen and (max-width: 600px) {
  .accordion__contact__details {
    grid-template-columns: auto;
  }

  .user__data {
    grid-template-columns: repeat(3,1fr);
  }

  .btn {
    width: 6rem;
  }
}


